.split-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-panel {
    flex: 1; 
    background: linear-gradient(-45deg, #FF7300, #e66500, #FF7300); 
    background-size: 400% 400%; 
    animation: gradient-wave 15s ease infinite; 
    color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}


/*

.left-panel {
    flex: 1; 
    background-color: #FF7300; 
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
} */

.main-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    color: #FFFFFF !important; 
    text-shadow: none !important; 
}

.decoration-line {
    width: 60px;
    height: 4px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.right-panel {
    flex: 1;
    background-color: #1a5cc0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    background-color: #FFFFFF;
    padding: 40px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.register-card h2 {
    color: #343A40;
    margin-bottom: 30px;
    font-size: 2rem;
    border-bottom: 2px solid #FF7300; 
    padding-bottom: 10px;
    text-align: center;
}

.register-card input[type="text"],
.register-card input[type="email"],
.register-card input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da; 
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group label {
    margin-left: 10px;
    color: #343A40;
    font-size: 14px;
}

.register-card button[type="submit"] {
    width: 100%;
    background-color: #FF7300;
    color: #FFFFFF;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.register-card button[type="submit"]:hover {
    background-color: #37923b; 
}

.error-message {
    color: #dc3545; 
    margin-bottom: 15px;
    text-align: center;
}

.link-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #343A40;
}

.link-text a {
    color: #FF7300; 
    text-decoration: none;
    font-weight: 600;
}

@keyframes gradient-wave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}